{%extends 'base.html' %}

{% block content %}
    
<div class="container-fluid white">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="mt-5">
                <form action="" class="form-control p-5" method="POST">
                    {%csrf_token%}

                    {% if messages %}
                    <p class="messages text-center">
                        {% for message in messages %}
                    <p> {{ message }} </p>
                    {% endfor %}
                    </p>
                    {% endif %}

                    <p class="text-center fs-3 logo">Awwwards</p>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Username</label>
                        <input type="username" name="username" class="form-control" id="username"
                            placeholder="name">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="password">
                    </div>
                    <div class="row mt-2 mb-3">
                        <div class="col-md-6">
                            <input type="submit" value="Login" class="btn btn-info">
                        </div>   
                    </div>                
                </form>
            </div>
            <div class="pt-2">
                <p class="form-control ps-5 pt-3 pb-3 pe-5">
                    Dont have an account?  <a href="{%url 'signup' %}" class="text-decoration-none">Signup</a>
                </p>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

{% endblock %}