<nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <div class="container-fluid pe-0">
      <div class="col-md-4 d-flex flex-row" id="search">
        <form method="GET" action="{%url 'search' %}" class="d-flex flex-row">
            <input type="text" name="q" class="form-control" style="width: 100%; border-radius: 4px 4px !important;" placeholder="Search..." aria-label="Search" aria-describedby="basic-addon1">
        </form>
        
      </div>
      <div class="col-md-4 d-flex justify-content-center">
      <a class="navbar-brand" href="{%url 'home'%}" style="font-size: 1.7vw;"><b>awwwards.</b></a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            {%if request.user.is_superuser%}
            <li>
                <a class="nav-link active" aria-current="page" href="/admin">DASHBOARD</a>
            </li>
            {%endif%}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="/api" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    API's
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/api/posts">Posts</a></li>
                    <li><a class="dropdown-item" href="/api/profiles">Profiles</a></li>
                </ul>
            </li>

            {%if request.user.is_authenticated%}
            <li>
                <a class="nav-link active" aria-current="page" href="{%url 'profile' %}">PROFILE</a>
            </li>
            <li>
                <a class="nav-link" aria-current="page" href="{%url 'logout'%}">LOGOUT</a>
            </li>
            {%else%}
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{%url 'login' %}">REGISTER / LOG IN</a>
            </li>
            {%endif%}
        </ul>
        <a href="{%url 'submit' %}" class="nav-link" aria-current="page" id="site">
            SUBMIT YOUR SITE!
        </a>
      </div>
    </div>
  </nav>